@import "tailwindcss";
@import "./shadcn-theme.css";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@theme {
  --breakpoint-xs: 24rem;
  --layout-base: 70rem;
  --layout-full: 100%;
}

@utility layout-* {
  --layout-max-width: --value(--layout-*);
  --layout-padding: calc(var(--spacing) * 8);

  display: grid;

  place-content: center;
  grid-template-columns:
    minmax(var(--layout-padding), 1fr)
    min(var(--layout-max-width), 100% - var(--layout-padding) * 2)
    minmax(var(--layout-padding), 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  & > .full-width {
    grid-column: 1 / -1;
  }
}
