@import "tailwindcss";
@import "./shadcn-theme.css";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@theme {
  --breakpoint-xs: 24rem;
  --layout-base: 52rem;
  --layout-full: 100%;
}

@utility layout-* {
  --layout-max-width: --value(--layout-*);
  --layout-padding: calc(var(--spacing) * 8);

  display: grid;

  place-content: center;
  grid-template-columns:
    minmax(var(--layout-padding), 1fr)
    min(var(--layout-max-width), 100% - var(--layout-padding) * 2)
    minmax(var(--layout-padding), 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  & > .full-width {
    grid-column: 1 / -1;
  }
}

/* NAV ARROWS */
.arrow-down::before {
  content: "↓";
  position: absolute;
  bottom: 2svh;
  left: calc(-0.5em + 50vw);
  color: var(--color-accent);
  font-size: 2rem;
  animation: 2s ease-in-out 0s infinite normal none running bounce-down;
}

.arrow-right::after {
  content: "→";
  position: absolute;
  bottom: calc(-0.5em + 50svh);
  right: 2vw;
  color: var(--color-accent);
  font-size: 2rem;
  animation: 2s ease-in-out 0s infinite normal none running bounce-right;
}

.arrow-done::after {
  content: "✓";
  position: absolute;
  bottom: 2svh;
  left: calc(-0.5em + 50vw);
  color: var(--color-accent);
  font-size: 1.5rem;
}

/* ANIMATIONS */
.bounce-down {
  animation: bounce-down 2s ease-in-out infinite;
}

@keyframes bounce-down {
  50% {
    transform: translateY(1vmax);
  }
}

.bounce-right {
  animation: bounce-right 2s ease-in-out infinite;
}

@keyframes bounce-right {
  50% {
    transform: translateX(1vmax);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
